jupyter
matplotlib
mkdocs
mkdocs-bibtex
mkdocs-glightbox
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-material[recommended]
mkdocs-minify-plugin
mkdocs-redirects
numpy
polars
pymdown-extensions
pypandoc
seaborn
